@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
/*$footNavBg : #000000;*/
/*$navHeight : 60px;*/
/*$footHeight : 68px;*/

body {
  margin : 0 !important;
}

nav {
  height: 60px;
  background: #000000;
}

footer {
  height: 68px;
  background: #000000;
  margin-top : 140px;
}

.mainContainer {
  /*background: #E5E5E5;*/
}

.mainDisplay {
  height: 1020px;
  /*width: 1920px;*/
  background: url("../../static/main.png") no-repeat center;
}

.mainDisplay .monsterBokeh {
  position: relative;
  /*width: 174px;*/
  height: 27px;
  /*top: 241px;*/

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.1em;

  color: #FFFFFF;
}

.mainDisplay .bigText {
  position: relative;
  height: 144px;
  /*top: 368px;*/

  font-family: Open Sans, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 150%;

  color: #FFFFFF;
}

.arrow {
  position : relative;
  top : 670px;
}

.main-content {
  /*min-height : 7105px;*/
  overflow-x: hidden;
}

.examples-inscription {
  position: relative;
  height: 60px;
  top: 140px;

  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 150%;

  color: #000000;
}

.image-box {
  height : 1117px;
  width : 1306px;
  position : relative;
  top : 220px;
}

.image-box .image1 {
  width: 621px;
  height: 576px;
  float : left;
}

.image-box .image2 {
  position : relative;
  left : 24px;
  width: 290px;
  height: 576px;
  float : left;
}

.image-box .image3 {
  position : relative;
  left : 48px;
  float : left;
  width: 347px;
  height: 275px;
}

.image-box .image4 {
  position : relative;
  left : 48px;
  top : 24px;
  float : left;
  width: 347px;
  height: 277px;
}

.image-box .image5 {
  position : relative;
  top : 23px;
  float : right;
  width: 661px;
  height: 577px;
}

.image-box .image6 {
  position : relative;
  right : 24px;
  top : 23px;
  float : right;
  width: 294px;
  height: 578px;
}

.image-box .image7 {
  position : relative;
  top : 23px;
  right : 24px;
  width: 303px;
  height: 279px;
}


.image-box .image8 {
  position : relative;
  top : 47px;
  right : 24px;
  width: 303px;
  height: 275px;
}

.technical-characteristics {
  position : relative;
  top : 222px;
  max-width: 1920px;
  @apply grid grid-cols-6;
}

.dandelion-box {
  background-image: url("../../static/dendelion.png");
  /*width : 1920px;*/
  height : 470px;
  position : relative;
  top : 450px;
  margin-bottom : 450px;
  @apply w-screen;
}

.dandelion-box .header {
  @apply examples-inscription;
  color : white;
}

.dandelion-box .description {
  position : relative;
  top : 150px;
  width : 677px;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 150%;
  /* or 36px */
  display: block;
  color: #FFFFFF;
  margin-bottom : 215px;
}

.helios {
  width : 1306px;
  margin-bottom : 30px;
  @apply grid grid-cols-3 grid-rows-2;
}

.filter-box {
  width : 1306px;
  height : 40px;
}

.filter-text-field {
  outline: none;
  background: #F8F8F8;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 3px 0 0 3px;
  width : 182px;
  height : 34px;
  float : right;
  @apply px-3 py-1.5;
}

.zoom-container {
  float : right;
  width : 38px;
  height : 34px;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 0 3px 3px 0;
  background: #F8F8F8;
  margin-right : 30px;
}

.zoom {
  margin-left : auto;
  margin-right: auto;
  position : relative;
  top : 6.62px;
}

.filter-dropdown {
  width : 221px;
  height: 34px;
  background: #F8F8F8;
  border: 1px solid #D7D7D7;
  box-sizing: border-box;
  border-radius: 3px;
  float : right;
}

.dropdownArrow {
  float : right;
  margin-right : 15px;
  margin-top: 12px;
}
.filter-dropdown span {
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  margin-right : 18px;
  position: relative;
  top : 3px;
  color: #414141;
}

.view-other-lenses {
  width: 250px;
  height: 60px;
  background: #000000;
  border-radius: 5px;
  margin-bottom : 140px;
}

.view-other-lenses span {
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
}

.text-block {
  width: 864px;
  text-align : left;
  margin-top : 60px;
}

.text-block .title {
  display : block;
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #000000;
  margin-bottom : 40px;
}

.text-content {
  font-family: Open Sans, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 150%;
  color: #000000;
}

.text-block .content {
  width: 864px;
  display : block;
  @apply text-content;
}

.text-block1 {
  width: 1086px;
  /*height: 240px;*/
  background: #EFF4FC;
  padding-top: 54px;
  padding-bottom: 54px;
}

.text-block1 .text-content {
  text-align : left;
  display : block;
  width: 864px;
  height: 132px;
}
